body {
    background: #000000;
    width: 100%;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: heavy;
    padding: 2px;
    margin: 5px 0;
}

h3 {
    padding: 2px;
    margin: 10px 0;
}

p {
    font-family: 'Lato', sans-serif;
    color: #fff;
}

.masthead {
    position: relative;
    display: block;
    width: 100%;
    top: 0;  
}

.mastheadText {
    padding: 20px;
}

.mastheadText h1 {
    color: #fff;
}

.mastheadTextHighlight {
    display: inline-block;
    background: #fff;
    color: #990000;
    max-width: 100%;
}

.mastheadText h3 {
    color: #CC3333;
}


.masthead img {
    display: block;
    max-width: 100%;  
    border: 0;
    margin-left: auto;
    margin-right: auto;
}

.textHighlight {
    display: inline-block;
    background: #000;
    color: #990000;
    max-width: 100%;
}

.infobox {
    margin-top: 5px;
    background: #000000;
    padding: 50px;
    max-width: 100%;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.infoboxContent {
    margin: 10px 0;
    padding: 20px;
    background: #990000;
    color: #fff;
    width: 100%;
}


h4 {
    width: 70%
}

.map {
    position: relative;
    margin: 5px auto;
    width: 100%;
}

.carouselBox {
    max-height: 100%;
}

.mailchimp_signup {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

ul {
    margin-left: auto;
    margin-right: auto;
}

.overlay {
    display: block;
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
}

.posterDetails {
    display: none;
}

.posterContent {
    padding: 20px;
    font-weight: heavy;
}

.posterContent p {
    color: #000;
}

.posterContentTitle {
    display: inline-block;
    background: #990000;
    color: #fff;
    max-width: 100%;
}

/* Inverted outline button (white on dark) */
.btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: #cdbfe3;
}

.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
  color: #563d7c;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
}